table { width: 50%; border: 1px solid gray; border-collapse: collapse;}
th {background-color: lightblue; border: 1px solid  gray; border-collapse: collapse}
td {border: 1px solid lightgray; border-collapse: collapse;}
.link {
  background-color: lightgray;
}
.menu {
  margin: 2px;
}

.mycard {
  background-color: Teal;
  color: white;
  margin: 5px;
  padding: 20px;
}

#index {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
